--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/nightly/cu128
einops
h5py
hdf5storage
numpy
opencv-python
pandas
pillow
scipy
torch
torchaudio
torchvision
tqdm
# Development tools
ipykernel==6.16.2
matplotlib-inline==0.1.7
tensorboard